{% extends "layout.html" %}
{% block title %} {{todo.description}} {% endblock %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th></th>
        <tr {% if todo.getCompleted() %} class="completed" {% endif %}>
            <td>{{ todo.getId() }}</td>
            <td>{{ todo.getUserId() }}</td>
            <td {% if todo.getCompleted() %} class="line-through" {% endif %}>{{ todo.getDescription() }}</td>
            <td class="display-flex">
                {% if not todo.getCompleted() %}
                <form method="post" action="{{ app.request.baseurl }}/todo/complete/{{ todo.getId }}">
                    <button title="click to complete" type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                </form> &nbsp;
                <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}/json" class="text-decoration-none">
                    <button title="click for json" type="submit" class="btn btn-xs btn-secondary"><span class="glyphicon glyphicon-file glyphicon-white"></span></button>
                </a> &nbsp;
                {% endif %}
                <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.getId }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}